{{ define "main" }}

<div class="main-content">
    <section class="pArticle" data-id="{{ .Params.ID | default .File.UniqueID }}">
        <header class="pArticle--header">
            <h2 class="pArticle--title" itemprop="headline">
                {{ .Title }}
            </h2>
        </header>
        <div class="pArchive">
            {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
            {{ range $pages.ByPublishDate.Reverse.GroupByDate "2006" }}
            <div data-year="{{ .Key }}" class="pArchive--yearly">
                {{ range .Pages.ByPublishDate.Reverse.GroupByDate "January" }}
                <h3 class="pArchive--monthly">{{ .Key }}</h3>
                <div class="pArchive--list">
                    {{ range .Pages }}
                    <div class="pArchive--item">
                        <a href="{{ .RelPermalink }}" title="{{ .Title }}" aria-label="{{ .Title }}">
                            {{ .Title }}
                        </a>
                        <span class="pArchive--meta">({{ .Date.Format "01-02" }})</span>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}