{{ define "main" }}

<div class="main-content">
    <section class="pArticle" data-id="{{ .Params.ID | default .File.UniqueID }}">
        <header class="pArticle--header">
            <h2 class="pArticle--title" itemprop="headline">
                {{ .Title }}
            </h2>
        </header>
        <div class="fancy-archive">
            {{ range .Pages.ByPublishDate.Reverse.GroupByDate "2006" }}
            <div data-year="{{ .Key }}" class="archive-year">
                {{ range .Pages.ByPublishDate.Reverse.GroupByDate "January" }}
                <h3 class="archive-month">{{ .Key }}</h3>
                <ul class="fancy-ul">
                    {{ range .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}" title="{{ .Title }}" aria-label="{{ .Title }}">
                            {{ .Title }}
                        </a>
                        <em>({{ .Date.Format "01-02" }})</em>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}