{{ define "main" }}

<div class="main-content post--single" data-id="{{ .File.UniqueID}}">
    <section class="section-body">
        <header class="u-textAlignCenter">
            <h2 class="block-title" itemprop="headline">
                {{ .Title }}
            </h2>
        </header>
        <div class="good--list">
            {{ range .Params.faves }}
            <div class="good--item">
                <div class="img-spacer">
                    <img src="{{ .cover }}">
                </div>
                <div class="good--name">
                    <div class="brand">{{ .brand }} · {{ .cat }}</div>
                    {{ .title }}
                </div>
            </div>
            {{ end }}
        </div>
        <div class="grap u-marginBottom30">
            {{ .Content }}
        </div>
    </section>
</div>

{{ end }}