{{ define "main" }}

<div class="main-content">
    <section class="pArticle" data-id="{{ .Params.ID | default .File.UniqueID }}">
        <header class="pArticle--header">
            <h2 class="pArticle--title" itemprop="headline">
                {{ .Title }}
            </h2>
        </header>
        <div class="good--list">
            {{ range .Params.faves }}
            <div class="good--item">
                <div class="img-spacer">
                    <img src="{{ .cover }}">
                </div>
                <div class="good--name">
                    <div class="brand">{{ .brand }} · {{ .cat }}</div>
                    {{ .title }}
                </div>
            </div>
            {{ end }}
        </div>
        <div class="grap pArticle--content">
            {{ .Content }}
        </div>
    </section>
</div>

{{ end }}