{{ define "main" }}

<div class="main-content">
    <section class="pArticle" data-id="{{ .Params.ID | default .File.UniqueID }}">
        <header class="pArticle--header">
            <h2 class="pArticle--title" itemprop="headline">
                {{ .Title }}
            </h2>
        </header>
        <div class="pLink--list">
            {{ range .Params.links }}
            <div class="pLink--item">
                <a class="pLink--url" href="{{ .link }}" target="_blank" title="{{ .title }}">
                    <strong>{{ .title }}</strong>
                    <span class="sitename">{{ .description }}</span>
                </a>
            </div>
            {{ end }}
        </div>
        <div class="pGraph pArticle--content">
            {{ .Content }}
        </div>
    </section>
</div>

{{ end }}