{{ define "main" }}

<div class="main-content">
    <section class="pArticle" data-id="{{ .Params.ID | default .File.UniqueID }}">
        <header class="pArticle--header">
            <h2 class="pArticle--title" itemprop="headline">
                {{ .Title }}
            </h2>
        </header>
        <ul class="link-items">
            {{ range .Params.links }}
            <li class="link-item">
                <a class="link-item-inner" href="{{ .link }}" target="_blank">
                    <span class="sitename"><strong>{{ .title }}</strong>{{ .description }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
        <div class="grap u-marginBottom30">
            {{ .Content }}
        </div>
    </section>
</div>

{{ end }}