.pArchive {
    color: var(--puma-text-gray);
    font-size: 14px;
    position: relative;

    &--yearly {
        position: relative;
        padding: 50px 0;

        &::after {
            content: attr(data-year);
            position: absolute;
            right: 0;
            top: 0;
            font-size: 120px;
            font-weight: 700;
            color: var(--puma-text-light);
            font-style: italic;
            opacity: 0.05;
        }
    }

    &--monthly {
        font-weight: 700;
        margin-bottom: 15px;
        position: relative;
    }

    &--list {
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--title {
        line-height: 1.4;

        &:hover {
            color: var(--puma-hover-color);
        }
    }

    &--item {
        line-height: 1.5;
        padding: 0;
        position: relative;
        z-index: 2;
    }

    &--meta {
        font-style: italic;
    }
}

.pLink {
    &--list {
        padding-top: 15px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--item {
        box-sizing: border-box;
        padding: 8px 12px;
        border-radius: 10px;

        &:hover {
            background-color: var(--puma-background-gray-light);
        }

        .sitename {
            display: block;
            font-size: 12px;
            line-height: 1.3;
            color: var(--puma-text-gray);
        }

        strong {
            margin-bottom: 5px;
            display: block;
            color: var(--puma-text-color);
            font-size: 14px;
            line-height: 1.6;
        }
    }
}

.pError {
    &--area {
        padding: 50px 0;
    }

    &--link {
        color: var(--puma-text-light);

        &:hover {
            color: var(--puma-hover-color);
        }
    }
}
