{{ define "main" }}
<div class="main-content">
    <section class="pArticle" data-id="{{ .Params.ID | default .File.UniqueID }}">
        <header class="pArticle--header">
            <h2 class="pArticle--title" itemprop="headline">
                {{ .Title }}
            </h2>
        </header>
        <div class="pCategory--list">
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.ByCount }}
            <a class="pCategory--item" href="{{ $value.Page.Permalink }}" data-count="{{ $value.Count }}"
                title="{{ $value.Page.Title }}">
                {{ if $value.Page.Params.cover }}
                <img src="{{ $value.Page.Params.cover }}" class="pCategory--image">
                {{ end }}
                <div class="pCategory--meta">
                    <div class="pCategory--title">{{ $value.Page.Title }}</div>
                    <div class="pCategory--description">{{ $value.Page.Params.description }}</div>
                </div>
            </a>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}