{{ define "main" }}

<div class="main-content">
    <header class="archive-header u-textAlignCenter">
        <h1 class="archive-title">{{.Title}}</h1>
    </header>
    {{- $pages := union .RegularPages .Sections }}
    {{- $paginator := .Paginate $pages }}
    <div class="blockGroup">
        {{- range $index, $page := $paginator.Pages }}
        {{ if eq .Type "memo" }}
        {{ partial "memo.html" . }}
        {{ else }}
        {{ partial "post.html" . }}
        {{ end }}
        {{ end }}
    </div>
    {{ partial "pagination.html" . }}
</div>
{{ end }}