{{ define "main" }}
<div class="main-content">
    <section class="pArticle"
        data-id="{{ with .Params.ID }}{{ . }}{{ else }}{{ with .File }}{{ .UniqueID }}{{ end }}{{ end }}">
        <header class="pArticle--header">
            <h2 class="pArticle--title" itemprop="headline">
                {{ .Title }}
            </h2>
        </header>
        <div class="archive--tagList">
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.ByCount }}
            <span class="archive--tagItem">
                <a href="{{ $value.Page.Permalink }}">
                    {{ $value.Page.Title }} <span>({{ $value.Count }})</span>
                </a>
            </span>
            {{ end }}
        </div>
    </section>
</div>
{{ end }}