<header class="site-header">
	<div class="header-inner" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
		<h1 class="site-title" itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
			<a href='{{ site.Home.Permalink }}' class="metabar--logo">Puma
			</a>
		</h1>
		<p class="site-description">just another wordpress site</p>
	</div>
</header>
{{ if len $.Site.Menus }}
<nav class="topNav">
	<ul class="topNav-items">
		{{ range $.Site.Menus.main }}
		{{ if not .HasChildren }}
		<li class="menu-item">
			<a href="{{ .URL }}">{{ .Name }}</a>
		</li>
		{{ end }}
		{{ end }}
	</ul>
</nav>
{{ end }}